/******************************
****** Avatar Maker SCSS ******
******************************/

* {
	margin: 0;
	padding: 0;
}

body {
	color: #444444;
	background: #f8f8f8;
	font: 16px sans-serif, Arial, Verdana;
}

#app {
	position: relative;
	overflow: hidden;
  max-width: 800px;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  box-shadow: 0 0 7px $shadow;
	background: #fff;
	@include before-small-tablet {
		height: 100%;
	}
}
#avatar {
	position: relative;
	width: 100%;
	height: 420px;
	overflow: hidden;
	background: rgba(185, 192, 255, 0.28);
	@include before-small-tablet {
		height: calc(100vh - 80px);
	}
  svg {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 100;
		g {
			display: none;
		}
	}
}

.show {
	display: block!important;
}